# Videos grandes (no usar Git LFS)
# Permitir videos pequeños (<50MB) como Sequence 01.mp4
# Video/*.mp4
# Video/*.MP4
Video/*.mov
Video/*.MOV

# Archivos del sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

